*
#bodycadastro {
    background: rgb(184, 184, 184);
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textlabel {
    color: rgb(179, 179, 179);
    font-size: 24px;
    margin-bottom: 20px;
}

#paragrafocadastro {
    color: rgb(179, 179, 179);
    font-size: 18px;
    margin-bottom: 20px;
}

#botaoconcluir {
    background-color: rgb(179, 179, 179);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#japossui {
    color: rgb(179, 179, 179);
    font-size: 14px;
    margin-top: 20px;
}