/* style.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: italic;
}

body{
    background-color: rgb(10, 10, 10);
}

/* HEADER */

header{
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* BANNER */

.banner{
    text-align: center;
    padding: 80px;
    background-color: rgb(17, 17, 17);
    color: white;
}

.botao{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #0055aa;
    text-decoration: none;
    border-radius: 5px;
}

/* SOBRE */

.sobrereal{
    padding: 65px;
    text-align: center;
    color: white;

}

.navzudo{ 

    padding: 35px;



}

#fotid{
    background-color: rgb(10, 10, 10);
    color: white;
    text-align: center;
    padding: -0px;
    margin-top: 0px;
}


/* LOGIN E CADASTRO */

.container{
    width: 350px;
    background-color: rgb(15, 15, 15);
    margin: 100px auto;
    padding: 45px;
    border-radius: 10px;
    color: white;
}

.placeholder {
    
    background-color: rgb(255, 255, 255);
    color-text: rgb(255, 255, 255);
}

.container h2{
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    margin-bottom: 15px;
}

button{
    padding: 10px;
    background-color: #242424;
    color: white;
    border: none;
    cursor: pointer;
}

/* VAGAS */

.vagas{
    padding: 35px;
    margin: 20px;
    padding-right: 50px;
    margin-right: 800px;

}

.vaga{
    background-color: rgb(37, 37, 37);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: white;
}

.botaocata {

    background-color: #2b2b2b;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 5px;

}

.copiar {

    background-color: #2b2b2b;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 5px;

}

.vaga h3{
    margin-bottom: 10px;
    
}

#cabecalhocata {

    background-color:#000000;
}

/* FOOTER */

footer{
    background-color: (43, 43, 43);
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 25px;
}

.botao{ 

    color: rgb(253, 253, 253);
    background-color: #1a1a1a;

}


.cabecalho{
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

.secontato{

      background-color: #0A0A0A;
    padding: 20px;
     padding: 35px;
    margin: 20px;
    padding-right: 50px;
    margin-right: 800px;
    color: white;
    text-align: right;

}

